﻿@model IEnumerable<TmtEtvm_Reports.Models.DenominationWiseReport>
<p align="center">
    Denomination Wise Report
</p>
<style>
    tfoot {color: black; font:bold; }
</style>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotalFare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        
    </tr>
    <tfoot>
        <tr>
            <td></td>
            <td>
                Total Collection
            </td>
            <td>
                @ViewBag.GrandTotal
            </td>
        </tr>
    </tfoot>

@foreach (var item in Model) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TotalFare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        
    </tr>
    
    
    
}

</table>
@*<div class="col-md-12">
    <div class="col-md-8" style="float:left">
        Grand Total
    </div>
    <div class="col-md-4" style="float:left">
        @ViewBag.GrandTotal
    </div>
    
</div>*@
