﻿
@{
    ViewBag.Title = "Index";
}

<h2>Get Reports</h2>
<script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#ddlSelectType").change(function () {
            if ($(this).val() == "1") {
                $("#txtWawBillNo").show();
                $("#txtFromDate").hide();
                $("#txtToDate").hide();
            }
            else if ($(this).val() == "2"){
                $("#txtFromDate").show();
                $("#txtToDate").show();
                $("#txtWawBillNo").hide();
            }
            else
            {
                $("#txtWawBillNo").hide();
                $("#txtFromDate").hide();
                $("#txtToDate").hide();
            }
        });
    });

</script>




    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    @Html.DropDownList(
                        "ddlSelectType",
                            new List<SelectListItem>
                            {
                                 new SelectListItem { Text = "Select Type", Value = "0" },
                                 new SelectListItem { Text = "WayBill No Wise",  Value = "1"},
                                 new SelectListItem { Text = "Date Wise",  Value = "2"}
                            },
                                new { @class = "form-control", id = "ddlSelectType" })
                   
                </div>
                <div class="col-md-8">
                    <div class="col-md-4" id="div1">

                        <input type="text" id="txtWawBillNo" name="txtWawBillNo" class="form-control" style="display:none;"  />
                        
                        @*<input type="text" id="txtFromDate" name="txtFromDate" class="form-control" style="display:none;" />*@
                        @Html.TextBox("FromDate", string.Empty, htmlAttributes: new { @class = "form-control", @type = "date",id= "txtFromDate" })
                       
                    </div>
                    <div class="col-md-4">
                        @*<input type="text" id="txtToDate" name="txtToDate" class="form-control" , typeof="date"  />*@
                        @Html.TextBox("ToDate", string.Empty, htmlAttributes: new { @class = "form-control", @type = "date" , id= "txtToDate" })

                       
                    </div>

                </div>
            </div>
                
            
        </div>
        <div class="col-md-12" style="padding-top:10px;">
            
                @Html.DropDownList(
                        "ddlSelectReportType",
                            new List<SelectListItem>
                            {
                                 new SelectListItem { Text = "Select Report Type", Value = "0" },
                                 new SelectListItem { Text = "Dinomination Wise Report",  Value = "1"},
                                 new SelectListItem { Text = "Total Collection Report",  Value = "2"},
                                 new SelectListItem { Text = "Stage Wise Collection Report",  Value = "3"},
                                 new SelectListItem { Text = "Stage Wise Report",  Value = "4"},
                                 new SelectListItem { Text = "Total Collection Report",  Value = "5"},
                                 new SelectListItem { Text = "Trip Wise Report",  Value = "6"}
                            },
                                new { @class = "form-control", id = "ddlSelectReportType" })
            
            
               
            
            
            </div>
        <div class="col-md-12" id="DivBindReports">

        </div>
        <div class="col-md-12" align="center">
            <input type="button" id="btnshow" name="btnshow" value="Export To Excel" class="btn btn-success" /> 
        </div>
    </div>
@section Scripts {
<script type="text/javascript">
         $(document).ready(function () {
             $("#ddlSelectReportType").change(function () {
                 $('#DivBindReports').html(" ");
                 if (document.getElementById('txtFromDate').value != '' && document.getElementById('txtToDate').value != '' || document.getElementById('txtWawBillNo').value != '')
                 {
                     $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetRecords", "Home"))",
                    data: { "txtFromDate": document.getElementById('txtFromDate').value, "txtToDate": document.getElementById('txtToDate').value, "txtWawBillNo": document.getElementById('txtWawBillNo').value, "ddlSelectReportType": document.getElementById('ddlSelectReportType').value},
                    success: function (data) {
                        $('#DivBindReports').html(" ");
                        $('#DivBindReports').html(data);
                        $("#btnshow").show();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#DivBindReports').html(" ");
                        alert('Record not found');
                    }
                });
                 }
                 else
                 {
                     $("#ddlSelectReportType").val("0");
                     if ($("#ddlSelectType").val() =="1")
                     {
                         alert('Please Enter waybill No !!');
                       
                     }
                     else if ($("#ddlSelectType").val() == "2")
                     {
                         alert('Please enter From date and To date !!');
                        
                     }
                     else
                     {
                         $("#ddlSelectType").focus();
                         

                     }
                     
                 }


             });

             //hide text boxes
             $("#txtWawBillNo").hide();
             $("#txtFromDate").hide();
             $("#txtToDate").hide();
             $("#btnshow").hide();
        });



</script>

<script>

        $("[id$=btnshow]").click(function (e) {
            window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('div[id$=DivBindReports]').html()));
            e.preventDefault();
        });

</script>
    

    }

