﻿@model IEnumerable<TmtEtvm_Reports.Models.StageWiseReport>

<p align="center">
    Stage Wise Report
</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fare_Stage_number)
        </th>
        <th>
            @Html.DisplayName("F")
        </th>
        <th>
            @Html.DisplayName("H")
        </th>
        <th>
            @Html.DisplayName("L")
        </th>
        <th>
            @Html.DisplayName("P")
        </th>
        <th>
            @Html.DisplayName("F")
        </th>
        <th>
            @Html.DisplayName("H")
        </th>
        <th>
            @Html.DisplayName("L")
        </th>
        <th>
            @Html.DisplayName("P")
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fare_Stage_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source_F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source_H)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source_L)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source_P)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination_F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination_H)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination_L)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination_P)
        </td>
     
    </tr>
}

</table>
