﻿@model IEnumerable<TmtEtvm_Reports.Models.TotalCollectionWiseReport>

<p align="center">
    Total Collection Wise Report
</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PassengerType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        
    </tr>
    <tfoot>
        <tr>
            <td></td>
            <td>
                Total Collection
            </td>
            <td>
                @ViewBag.GrandTotal
            </td>
        </tr>
    </tfoot>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PassengerType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
      
    </tr>
}

</table>
